* {
	font-family: 'Lexend', sans-serif;
}

body {
	background-color: black;
	filter: invert(95%);
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.container > * {
	margin: 0 1em 1em 0;
}

input {
	max-width: 4em;
}
